<h1>About Quinctilius Maximus</h1>
<hr>
<p> I have completely <em>no idea</em> what I am doing with programming. There are so many
words and ideas that I must memorize so I must one day become a master developer, however
I find the path to such a dream overwhelming.
</p>

<p>
  To accurately represent my computer resume, first find a blank sheet of paper and various
  colored crayons. Next, close your eyes and randomly draw on the page. Now you have an 
  accurate representation of what I am capable of with computers.
</p>